@media (max-width: 767px) {
.photoLinkBox {
    margin-bottom: 25px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid black;
}

.photoLinksStack {
    justify-content: center;
}

.photoLinksContainer {
    position: relative;
}

.photoLinks {
    border: 1px solid black;
    object-fit: fill;
    opacity: 1;
    border-width: 1px;
    display: block;
    margin: auto;
    width: 75%;
} .photoLinksText {
    background-color: cadetblue;
    border-left: 3px solid cadetblue;
    border-right: 4px solid cadetblue;
    border-radius: 5px;
    font-size: 28px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 325%);
}

.photoAboutFlexBox {
    display: block;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}
.photographyAboutBox {
    padding-right: 50px;
}
.photoAboutHeader {
    margin-top: 1rem;
    padding-left: 10%;
    padding-bottom: 15px;
    font-size: 36px;
}
.photoAboutText {
    margin-left: 10%;
    font-size: 20px;
}

.cameraPhotos img {
    width: 100%;
}
}

@media (min-width: 768px) {
.photoLinkBox {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    padding-bottom: 100px;
    padding-top: 50px;
    border-bottom: 1px solid black;
}

.photoLinksStack {
    justify-content: center;
}

.photoLinksContainer {
    width: 700px;
    position: relative;
    transition: opacity 200ms ease-in;
} .photoLinksContainer:hover {
    opacity: 0.7;
}

.photoLinks {
    object-fit: fill;
    opacity: 1;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 100%;
} .photoLinksText {
    background-color: cadetblue;
    border-left: 3px solid cadetblue;
    border-right: 4px solid cadetblue;
    border-radius: 5px;
    font-size: 28px;
    color: white;
    position: absolute;
    bottom: 14px;
    left: 10px;
}

.photoAboutFlexBox {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}
.photographyAboutBox {
    padding-right: 50px;
}
.photoAboutHeader {
    margin-top: 1rem;
    padding-left: 10%;
    padding-bottom: 15px;
    font-size: 36px;
}
.photoAboutText {
    margin-left: 10%;
    font-size: 20px;
}

.cameraPhotos {
    margin-left: 20%;
    margin-right: 10%;
} .cameraPhotos img {
    width: 400px;
}
}